<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body th:with="uri=${#httpServletRequest.getRequestURI()}, adminPanel=${uri.contains('admin')}">
<th:block th:insert="~{fragment/header_frag::header(${ details })}"></th:block>
<div class="panels-container">
    <th:block th:insert="fragment/left_pannel_frag::leftPanel(${details}, ${uri})"></th:block>
    <div class="right-panel">
        <div class="info-container">
            <div class="info-caption"> Admin panel</div>
            <div>
                <div class="tabs">
                    <a class="tab tab--active" th:href="@{/admin}">Users table</a>
                    <a class="tab" th:href="@{/admin/new}">New User</a>
                </div>
                <div class="tab-content">
                    <div class="table-caption">
                        All users
                    </div>
                    <div class="table-content">
                        <th:block th:insert="~{fragment/info_table_frag::table(${users},${adminPanel})}"></th:block>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
<div class="modal-container">
    <div class="modal-window">
        <div  class="modal-caption">
            <div id = "modal-caption">Delete user</div>
            <button class="modal-cross" id="modal-cross">x</button>
        </div>
        <div class="form-container">

            <div id="modal-fields" class="form-new">
                <label for="id">ID</label>
                <input type="text" id="id" value="" disabled>
                <div class="error" data-name = "id"></div>

                <label for="firstName">First name</label>
                <input type="text" id="firstName" value="">
                <div class="error" data-name = "firstName"></div>

                <label for="lastName">Last name</label>
                <input type="text" id="lastName" value="">
                <div class="error" data-name = "lastName"></div>

                <label for="age">Age</label>
                <input type="number" min="0" max="127" id="age" required pattern='\d*' value="">
                <div class="error" data-name = "age"></div>

                <label for="email">Email</label>
                <input type="text" id="email" value="">
                <div class="error" data-name = "email"></div>

                <label for="password">Password</label>
                <input type="password" id="password" value="">
                <div class="error" data-name = "password"></div>

                <label for="roles">Role</label>
                <select id="roles" class="custom-select" multiple>
                    <option th:each="r : ${rolList}" th:value="${r.name()}" th:text="${r.name()}"></option>
                </select>
                <div class="error" data-name = "roles"></div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="button modal-close" id="modal-close">Close</button>
            <button class="button modal-edit" id="modal-edit">Edit</button>
            <button class="button modal-delete" id="modal-delete">Delete</button>

        </div>


    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>
