<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body th:with="uri=${#httpServletRequest.getRequestURI()}, adminPanel=${uri.contains('admin')}">
<th:block th:insert="~{fragment/header_frag::header(${ details })}"></th:block>
<div class="panels-container">
    <th:block th:insert="fragment/left_pannel_frag::leftPanel(${details}, ${uri})"></th:block>
    <div class="right-panel">
        <div class="info-container">
            <div class="info-caption"> Admin panel</div>
            <div>
                <div class="tabs">
                    <a class=" tab" th:href="@{/admin}">Users table</a>
                    <a class="tab tab--active" th:href="@{/admin/new}">New User</a>
                </div>
                <div class="tab-content">
                    <div class="table-caption">
                        Add new user
                    </div>
                    <div class="table-content">
                        <th:block
                                th:insert="~{fragment/form_fragment::form('form-new', ${user}, ${rolList})}"></th:block>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

<!--***********************************************-->
<!--TODO: remove-->
<div class="podgonka podgonka-new">
    <div class="podgonka-caption">Opacity</div>
</div>

<!--***********************************************-->
<!--<div class="modal-container">-->
<!--<div class="modal-window">-->

<!--</div>-->
<!--</div>-->
<script src="/js/podgonka.js"></script>
</body>
</html>
