<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body th:with="uri=${#httpServletRequest.getRequestURI()}, adminPanel=${uri.contains('admin')}">
<th:block th:insert="~{fragment/header_frag::header(${ details })}"></th:block>
<div class="panels-container">
    <th:block th:insert="fragment/left_pannel_frag::leftPanel(${details}, ${uri})"></th:block>
    <div class="right-panel">
        <div class="info-container">
            <div class="info-caption"> Admin panel</div>
            <div>
                <div class="tabs">
                    <a class=" tab" th:href="@{/admin}">Users table</a>
                    <a class="tab tab--active" th:href="@{/admin/new}">New User</a>
                </div>
                <div class="tab-content">
                    <div class="table-caption">
                        Add new user
                    </div>
                    <div class="table-content">
                        <div class="form-container">

                            <form th:class="form-new" th:method="POST" th:action="@{/admin}" th:object="${user}">
                                <label for="firstName">First name</label>
                                <input type="text" id="firstName" th:field="*{firstName}">
                                <div class="error-new" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

                                <label for="lastName">Last name</label>
                                <input type="text" id="lastName" th:field="*{lastName}">
                                <div class="error-new" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

                                <label for="age">Age</label>
                                <input type="number" min="0" max="127" id="age" th:field="*{age}" required pattern='\d*'>
                                <div class="error-new" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

                                <label for="email">Email</label>
                                <input type="text" id="email" th:field="*{email}">
                                <div class="error-new" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                                <label for="password">Password</label>
                                <input type="password" id="password" th:field="*{password}">
                                <div class="error-new" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                                <label for="role">Role</label>
                                <select id="role" class="custom-select" multiple th:field="*{roles}">
                                    <option th:each="r : ${rolList}" th:value="${r.name()}" th:text="${r.name()}"></option>
                                </select>
                                <div class="error-new" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>

                                <div>
                                    <input class="button button-add_new" type="submit" value="Add new user">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

</body>
</html>
