<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
</head>
<body>
<div class="header" th:fragment="header(details)">
    <div>
        <span class="bold" th:text="${details.getUsername()}"></span> <span >with     roles:</span>
        <span class="space" th:each="auth : ${details.getAuthorities()}"  th:text="${auth.getAuthority()}"></span>
    </div>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" class="logout_button" value="Logout">

    </form>
    <!--    <a class="logout_link" href="#" onclick="this.parentElement.querySelector('form').submit(); return false;">Logout</a>-->
</div>
</body>
</html>