<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Left panel fragment</title>
</head>
<body>

<div class="left-panel" th:fragment="leftPanel(details,uri)">
    <th:block th:each="auth : ${details.getAuthorities()}" th:with="role=${auth.getAuthority().toLowerCase()}">
        <a class="button_switch_panel capitalize"
           th:classappend="${uri.contains(role) ? 'checked_panel' : ''}"
           th:href="|@{/}${role}|"
           th:text="${role}"></a>
    </th:block>
</div>
</body>
</html>