<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="header">
    <div>
        <span class="space" th:text="|${details.getUsername()} with roles:|"></span>
        <span th:each="auth : ${details.getAuthorities()}" class="space" th:text="${auth.getAuthority()}"></span>
    </div>
    <th:block th:insert="~{fragment/logout_frag::logout}"></th:block>
</div>
<div class="container_info" th:with="uri=${#httpServletRequest.getRequestURI()}, adminPanel=${uri.contains('admin')}">
    <div class="side">
        <th:block th:each="auth : ${details.getAuthorities()}"
                  th:with="role=${auth.getAuthority().toLowerCase()}">
            <a class="button_switch_panel capitalize"
               th:classappend="${uri.contains(role) ? 'checked_panel' : ''}"
               th:href="|@{/}${role}|"
               th:text="${role}"></a>
        </th:block>
    </div>
    <div class="info">
        <div>
            <h1 th:if="${adminPanel}">Admin panel</h1>
            <h1 th:unless="${adminPanel}">User information-page</h1>
            <div class="tabs_users">
            <div>
                <h2>All users</h2>
                <div>
                    <th:block th:insert="~{fragment/info_table_frag::table}"></th:block>

                </div>
            </div>

            </div>


        </div>

    </div>
</div>
</body>
</html>
