<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:insert="~{logout_fragment :: logout}"></div>
<h1><span th:text="${user.getPassword()}"></span>, welcome spring boot security page!</h1>
<h1><span th:text="|test concat ${user.getFirstName()}|"></span>, welcome spring boot security page!</h1>
<div th:text="${user.getFirstName()}"></div>

</body>
</html>