:root {
    --header-height: 60px;

    --info-color: #f8f9fa;
    --header-color: #353a40;
    --table-head-color: #f7f7f7;
    --table-row-color: #f2f2f2;
    --table-row-border-color: #ebeef1;
    /*--table-row-border-color: red;*/
    --button-edit-color: #17a2b8;
    --button-delete-color: #dc3545;
    --button-not-active: #007aff;
    --logout-link-color: #91979f;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html, body {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    font-family: system-ui, Arial;
}

/*******************************************/
/*TODO: remove*/
.podgonka {
    position: fixed;
    display: none;
    width: 1725px;
    height: 1210px;
    inset: 0;
    z-index: 9999;
    background-image: url("/img/2_admin-page.png");
    background-size: cover;
    border: none;
    margin-top: -107px;
    margin-left: -18px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.podgonka-new {
    background-image: url("/img/3_add-new-user.png");
}

.podgonka-user{
    background-image: url("/img/6_user-page.png");
}

.podgonka-caption {
    color: red;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    left: 50%;
    top: 2%;
}

/*************************************************/
.bold {
    font-weight: bold;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.8rem;
}

caption {
    font-size: 40px;
}

.space {
    margin-right: 7px;
}


/*input {*/
/*    width: 200px;*/
/*}*/

.error {
    font-size: 10pt;
    color: red;
}

.container_new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-color);
    color: white;
    width: 100vw;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 10px;
    font-size: 25px;
}

.panels-container {
    /*background-color: red;*/
    width: 100%;
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: stretch;
}

.left-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 280px;
}

.capitalize::first-letter {
    text-transform: uppercase;
}

.right-panel {
    margin-left: 280px;
    width: calc(100% - 280px);
    background-color: var(--info-color);
}

.info-container {
    margin-top: 16px;
    margin-left: 36px;
    margin-right: 40px;
}

.table_container {
    background-color: white;
    margin-top: 26px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 41px;
}


th {
    font-size: 20px;
    text-align: left;
    /*padding-left: 15px;*/
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: top;
    padding-left: 14px;
}

td {
    /*background-color: aquamarine;*/
    padding-top: 18px;
    padding-bottom: 27px;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    padding-left: 14px;
}

td, th {
    border-top: 1px solid var(--table-row-border-color);

}

table {
    width: 100%;
    border-collapse: collapse;
}

.logout_link {
    display: inline-block;
    color: var(--logout-link-color);

}

.button-delete {
    background-color: var(--button-delete-color);
}

.button-edit {
    background-color: var(--button-edit-color);
}

.button {
    color: white;
    display: inline;
    width: fit-content;
    cursor: pointer;
    border: none;
    padding: 4px 11px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;

}


.button_switch_panel {
    display: block;
    text-decoration: none;
    color: var(--button-not-active);
    padding: 11px 19px;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 20px;
}

.checked_panel {
    background-color: var(--button-not-active);
    color: white;
}

.tabs {
    display: flex;
}


.tab-content {
    border: 2px solid var(--table-row-border-color);
    border-radius: 4px;
}

.tab-content {
    display: block;
    flex-direction: column;
    /*padding: 15px;*/
    /*background-color: var(--table-head-color);*/
    background-color: white;
}

.table-caption {
    padding: 13px 25px 13px;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid var(--table-row-border-color);
    background-color: var(--table-head-color);
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 27px;*/
}

.form-new > label {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 27px;
    margin-bottom: 2px;


}

.form-new > input {
    font-size: 20px;
    width: 380px;
    height: 38px;
    margin-bottom: -5px;
    padding-left: 10px;
}

.form-new > select {
    width: 380px;
    font-size: 18px;
    padding-top: 7px;
    padding-left: 12px;
    height: 61px;
}

.form-new > select > option {
    margin-bottom: 2px;
}

select,
input[type='text'],
input[type='password'],
input[type='number'] {
    border-radius: 4px;
    transition: border-color 0.3s;
    outline: none;
    border: 1px solid #ced4da;
}

select:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus {

    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    color: #495057;
    background-color: #fff;
    outline: 0;
}

.logout_button {
    color: var(--logout-link-color);
    display: inline;
    width: fit-content;
    cursor: pointer;
    background-color: var(--header-color);
    border: none;
    font-size: 20px;
    padding: 8px 4px;
    margin-right: 30px;
    margin-top: 4px;
}

/*.wrapper-input > input  {*/
/*    */
/*}*/

.table-content {
    /*display: flex;*/
    /*justify-content: center;*/
}

tr:nth-child(even) {
    background-color: var(--table-row-color);
}


.info-caption {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 18px;
}

.tab {
    font-size: 20px;
    /*padding: 13px 21px;*/
    padding: 10px 21px 13px;

    text-decoration: none;
    display: block;
    border: none;
    background-color: var(--info-color);
    color: var(--button-not-active);

}

.tab--active {
    border: 1px solid var(--table-row-border-color);
    border-bottom: none;
    color: black;
    border-radius: 6px 6px 0 0;
    background-color: white;
}

.modal-container {
    display: none;
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 30%;
    bottom: initial;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0;
    max-height: 100%;
    z-index: 9999;
    width: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}