:root {
    --info-color: #f8f9fa;
    --header-color: #353a40;
    --table-head-color: #f7f7f7;
    --table-row-color: #f2f2f2;
    --table-row-border-color: #ebeef1;
    --button-edit-color: #18a2ba;
    --button-delete-color: #df3444;
    --button-not-active: #007aff;
    --logout-link-color: #6c7e92;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    /*height: 100%;*/
    /*width: 100%;*/
    display: flex;
    font-size: 12px;
    flex-direction: column;
    font-family: Arial, serif;
    /*justify-content: center;*/
    /*background-color: red;*/
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 13px;
}

h2 {
    font-size: 1.8rem;
}

caption {
    font-size: 40px;
}

.space {
    margin-right: 5px;
}

th {
    /*background-color: teal;*/
    font-size: 1.1rem;
    text-align: left;
}

td {
    /*background-color: aquamarine;*/
    font-size: 1.4rem
}

td, th {
    border-top: 1px solid var(--table-row-border-color);
}

/*input {*/
/*    width: 200px;*/
/*}*/

.error {
    font-size: 10pt;
    color: red;
}

.container_new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    background-color: var(--header-color);
    color: white;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 2rem;
}

.panels-container {
    /*background-color: red;*/
    width: 100vw;
    height: 94vh;
    display: flex;
    align-items: stretch;
}

.left-panel {
    width: 17%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.capitalize::first-letter {
    text-transform: uppercase;
}

.right-panel {
    width: 85%;
    background-color: var(--info-color);
}

.info-container {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 50px;
}

.table_container {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.logout_link {
    display: inline-block;
    color: var(--logout-link-color);

}

.logout_button {
    color: var(--logout-link-color);
    display: inline;
    width: fit-content;
    cursor: pointer;
    background-color: var(--header-color);
    border: none;
}

.button_switch_panel {
    display: block;
    text-decoration: none;
    color: var(--button-not-active);
    padding: 13px;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 1.3rem;
}

.checked_panel {
    background-color: var(--button-not-active);
    color: white;
}

.tabs {
    display: flex;
}


.tab-content {
    border: 2px solid var(--table-row-border-color);
}

.tab-content {
    display: flex;
    flex-direction: column;
    /*padding: 15px;*/
    /*background-color: var(--table-head-color);*/
    background-color: white;
}

.table-caption {
    padding: 11px 20px;
    border-bottom: 1px solid var(--table-row-border-color);
    background-color: var(--table-head-color);
}

.table-content {
    padding: 20px;
}

tr:nth-child(even) {
    background-color: var(--table-row-color);
}

.tab {
    display: block;
    text-decoration: none;
    border: none;
    padding: 15px;
    background-color: var(--info-color);
    color: var(--button-not-active);
    font-size: 1.2rem;
}

.tab--active {
    border: 1px solid var(--table-row-border-color);
    border-bottom: none;
    color: black;
    border-radius: 6px 6px 0 0;
    background-color: white;
}

.modal-container {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 30%;
    bottom: initial;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0;
    max-height: 100%;
    z-index: 9999;
    width: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}