
html {
    font-size: 20px;
    overflow-y: scroll;
}

.vh-100 {
    height: 100vh;
}

.error {
    font-size: 10pt;
    color: red;
    display: none;
}

.user {
    display: flex;
    justify-content: center;
}

.user-form {
    width: 30%;
    margin-bottom: 1.1rem;
}

.node {
    position: relative;
    width: 100%;
}

.node > * :not(label, button) {
    width: 100%;
}

.node > label {
    font-weight: bold;
    margin-bottom: 0;
}

.node > input,
select {
    margin-bottom: 1.05rem;
}

.h-select {
    height: 3.2rem !important;
}

.user .node {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node > .invalid-tooltip {
    font-size: 0.58rem;
    top: 74%
}

.mdl-lg {
    max-width: 623px;
}

.mdl-width {
    width: 44%;
    margin-bottom: 1rem;
}