:root {
    --header-height: 60px;

    --info-color: #f8f9fa;
    --header-color: #353a40;
    --table-head-color: #f7f7f7;
    --table-row-color: #f2f2f2;
    --table-row-border-color: #ebeef1;
    --button-edit-color: #18a2ba;
    --button-delete-color: #df3444;
    --button-not-active: #007aff;
    --logout-link-color: #91979f;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
html, body {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    font-family: system-ui, Arial;
}

/*TODO: remove*/
.podgonka {
    position: fixed;
    display: block;
    width: 1725px;
    height: 1210px;
    inset: 0;
    z-index: 9999;
    background-image: url("/img/2_admin-page.png");
    background-size: cover;
    border: none;
    margin-top: -107px;
    margin-left: -18px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.8rem;
}

caption {
    font-size: 40px;
}

.space {
    margin-right: 7px;
}

th {
    /*background-color: teal;*/
    font-size: 1.1rem;
    text-align: left;
}

td {
    /*background-color: aquamarine;*/
    font-size: 1.4rem;
    padding: 20px 0;
}

td, th {
    border-top: 1px solid var(--table-row-border-color);
}

/*input {*/
/*    width: 200px;*/
/*}*/

.error {
    font-size: 10pt;
    color: red;
}

.container_new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-color);
    color: white;
    width: 100vw;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 10px;
    font-size: 25px;
}

.panels-container {
    /*background-color: red;*/
    width: 100%;
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: stretch;
}

.left-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 280px;
}

.capitalize::first-letter {
    text-transform: uppercase;
}

.right-panel {
    margin-left: 280px;
    width: calc(100% - 280px);
    background-color: var(--info-color);
}

.info-container {
    margin-top: 16px;
    margin-left: 36px;
}
.info-caption{
    font-weight: 600;
    font-size: 50px;

}
.table_container {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.logout_link {
    display: inline-block;
    color: var(--logout-link-color);

}

.logout_button {
    color: var(--logout-link-color);
    display: inline;
    width: fit-content;
    cursor: pointer;
    background-color: var(--header-color);
    border: none;
    font-size: 20px;
    padding: 8px 4px;
    margin-right: 30px;
    margin-top: 4px;
}

.button_switch_panel {
    display: block;
    text-decoration: none;
    color: var(--button-not-active);
    padding: 11px 19px;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 20px;
}

.checked_panel {
    background-color: var(--button-not-active);
    color: white;
}

.tabs {
    display: flex;
}


.tab-content {
    border: 2px solid var(--table-row-border-color);
}

.tab-content {
    display: block;
    flex-direction: column;
    /*padding: 15px;*/
    /*background-color: var(--table-head-color);*/
    background-color: white;
}

.table-caption {
    padding: 11px 20px;
    border-bottom: 1px solid var(--table-row-border-color);
    background-color: var(--table-head-color);
}

.table-content {
    padding: 20px;
}

tr:nth-child(even) {
    background-color: var(--table-row-color);
}

.tab {
    font-size: 20px;
    padding: 13px 21px;
    margin-top: 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: var(--info-color);
    color: var(--button-not-active);

}

.tab--active {
    border: 1px solid var(--table-row-border-color);
    border-bottom: none;
    color: black;
    border-radius: 6px 6px 0 0;
    background-color: white;
}

.modal-container {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 30%;
    bottom: initial;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0;
    max-height: 100%;
    z-index: 9999;
    width: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}